@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body{

    font-family: 'Space Grotesk', sans-serif;
   

}

:root{

    --primary-bg: hsl(0, 0%, 100%);
    --input-border:hsl(270, 3%, 87%);
    --input-text:hsl(279, 6%, 55%);
    --button-color:hsl(278, 68%, 11%);
    --input-error:hsl(0, 100%, 66%);
    --primary-fz:18px;
    --primary-fw:500;
}

img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrapper{

    height: 100vh;
    display: flex;
    position: relative;
   
}

#bg-left{

    flex: 2;
}

#bg-right{

    flex: 4;
}

.form-cards{

    width: 70%;
    /* background-color: red; */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{

    display: flex;
    flex-direction: column;
    gap: 30px;
    flex:1;
}

.card{

    max-width: 80%; 
    position: relative;
   
   
}

.back-card{

    position: relative;
    left: 15%;
}

.form{

    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.type{

    display: flex;
}

form{

    display: flex;
    flex-direction: column;
    /* background-color: green; */
    width: 75%;
  
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

.date-box{

    display: flex;
    flex:1;
}



#month{

    width:50%;
    margin-right: 10px;
}

#year{

    width: 50%;
}

.cvv{

   /* background-color: blue; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

#cvv-number{

    width: 100%;
}


.input-date{

    display: flex;
    gap: 20px;
    margin-top: 20px;

    
}

label{

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button{

    padding: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: var(--button-color);
    border-radius: 0.4em;
    height: 3em;
    color: #fff;
    cursor: pointer;
}

#exp-date{

    width: 50%;
    /* background-color: yellow; */
}

input{

    height: 2.8em;
    outline: none;
    border: none;
    border-radius: 0.4em;
    border: 0.1em solid var(--input-border);
    padding: 0 15px;
}

input::placeholder{

    opacity: 0.4;

}

#exp-date{

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo{

    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    max-width: 20%;

}

#card-number{

    position: absolute;
    bottom: 25%;
    left: 20px;
    color: #fff;
    font-size: clamp(0.1rem,1.8vw,1.8rem);
    letter-spacing: 2px;
   
}

#carholder-name{

    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10%;
    left: 20px;
    width: 85%;
    color: #fff;
    font-size: clamp(0.1rem,1vw,1rem);
    text-transform: uppercase;
    letter-spacing: 1px;
}

#cvv-box{

    position: absolute;
    right: 20px;
    top: 15%;
    font-size: clamp(0.1rem,1.2vw,2em);
    color: #fff;
}

/* This is used to get a gradient border */
input:focus{

    background: 
    linear-gradient(#fff,#fff) padding-box,
    linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
    border-radius: 0.4em;
    border: 1px solid transparent;
    cursor: pointer;
}

.error{

    font-size: 0.8em;
    color: var(--input-error);
    margin-top: 0.3em;
}

.error-name,.error-number,.error-date,.error-cvv{

    display: none;
}


.complete{

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    display: none;
}

.complete h1{
    font-size: 1.7em;
    letter-spacing: 3px;
}

.complete p{

    color: var(--input-text);
}

.complete button{

    width:70%;
}

.check{

    width: 4em;
    height: 4em;
    
}

@media (max-width: 950px) {

    #wrapper{

        display: flex;
        flex-direction: column;
    }

    .complete{

        display: "none";
    }


    #bg-left{

        height: 40%;
    }

    .form-cards{

        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    .cards{

        display: flex;
        flex-direction: column-reverse;
    }

    .front-cards{

        margin-top: -120px;
        position: relative;
        z-index: 2;
    }

    #card-number{

        font-size: clamp(1.6em,2vw,2em);
    }

    #cvv-box{


        font-size: 1.2em;
    }

    #carholder-name{

        font-size: 0.9em;
    }
}

@media screen and (max-width:426px){


    #bg-left{
        height: 35%;
    }

   
    
  .form-cards{

    width: 100%;
    display: flex;
    flex-direction: column;
    margin: -10% auto;
    padding: 10px;
  }

  .front-cards{

    margin-top: -96px;
  }
   
  .form{

    width: 120%;
    display: flex;
   
  }

  .complete{

    display: none;
    margin-top: 3em;
}

  #card-number{

    font-size: 1.1em;
  }

  #carholder-name{

    font-size: 0.6em;
  }

  #cvv-box p{

    font-size: 0.8em;
  }
}